h2 #{post.title}

h3 By 
  a(href="/{{blogOwner.username}}") #{blogOwner.username}

h4 #{post.description}

if ownPost
  button Edit post


span Created At: #{post.createdAt} 
br
span Updated At: #{post.updatedAt} 
  
