.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-12
    h2 #{blogOwner.username}'s Blog
    ol.breadcrumb
      li
        | Company, Inc. Blog
      li.active
        strong #{blogOwner.username}
      li.active
        strong #{post.title}

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .text-center.m-t-lg
        h1
          | #{post.title}
        h3 By 
          a(href="/{{blogOwner.username}}") #{blogOwner.username}
        small
          | #{post.description}
        hr    


  .row
    .col-lg-10.col-lg-offset-1
      .ibox
        .ibox-content
          .pull-right
            button.btn.btn-white.btn-xs(type='button') Model
            button.btn.btn-white.btn-xs(type='button') Publishing
            button.btn.btn-white.btn-xs(type='button') Modern
          .text-center.article-title
            span.text-muted
              i.fa.fa-clock-o
                if post.updatedAt
                  | Last Updated: #{post.updatedAt}
                else
                  | Created On #{post.createdAt}
                  
              .editing-tools
                if ownPost
                  button#edit-post.btn.btn-primary.pull-right(type='button')
                    i.fa.fa-file
                    |  Edit Post
          |  #{post.content}
          
          hr
          .row
            .col-md-6
              h5 Tags:
              button.btn.btn-primary.btn-xs(type='button') Model
              button.btn.btn-white.btn-xs(type='button') Publishing
            .col-md-6
              .small.text-right
                h5 Stats:
                div
                  i.fa.fa-comments-o  
                  |  56 comments
                i.fa.fa-eye  
                |  144 views
          .row
            .col-lg-12
              h2 Comments:
              .social-feed-box
                .social-avatar
                  a.pull-left(href='')
                    img(alt='image', src='/img/a1.jpg')
                  .media-body
                    a(href='#')
                      | Andrew Williams
                    small.text-muted Today 4:21 pm - 12.06.2014
                .social-body
                  p
                    | Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    | default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    | default model text.
              .social-feed-box
                .social-avatar
                  a.pull-left(href='')
                    img(alt='image', src='/img/a2.jpg')
                  .media-body
                    a(href='#')
                      | Michael Novek
                    small.text-muted Today 4:21 pm - 12.06.2014
                .social-body
                  p
                    | Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    | default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    | default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    | in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    | default model text.
              .social-feed-box
                .social-avatar
                  a.pull-left(href='')
                    img(alt='image', src='/img/a3.jpg')
                  .media-body
                    a(href='#')
                      | Alice Mediater
                    small.text-muted Today 4:21 pm - 12.06.2014
                .social-body
                  p
                    | Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    | default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    | in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    | default model text.
              .social-feed-box
                .social-avatar
                  a.pull-left(href='')
                    img(alt='image', src='/img/a5.jpg')
                  .media-body
                    a(href='#')
                      | Monica Flex
                    small.text-muted Today 4:21 pm - 12.06.2014
                .social-body
                  p
                    | Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    | default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    | in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    | default model text.
