.row.post-title-links
  each posts _id   
    .col-lg-4
      .contact-box
        h3
          strong #{username}
          
        a.btn-link(href="/{{ownerSlug}}/{{postSlug title }}")
          h2
            | #{title}
        .small.m-b-xs
          strong 
            a(href="/{{ownerSlug}}") #{ownerSlug}
          br
          span.text-muted
            i.fa.fa-clock-o
            if post.updatedAt
              | Last Updated: #{updatedAt}
            else
              | Created On #{createdAt}
        p
          | #{description}
        .row
          .col-md-6
            h5 Tags:
            button.btn.btn-primary.btn-xs(type='button') Model
            button.btn.btn-white.btn-xs(type='button') Publishing
          .col-md-6
            .small.text-right
              h5 Stats:
              div
                i.fa.fa-comments-o  
                |  56 comments
              i.fa.fa-eye  
              |  144 views
          .clearfix
